body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content a {
    text-decoration: none;
}

.content {
    width: 500px;
    max-width: 500px;
    height: 100vh;
    background-color: #f5f5f5;
}

.button-home {
    background-color: white;
    border: 3px solid #7452ff;
    padding: 15px 40px 15px 40px;
    border-radius: 20px;
}
.possiton-button-umum {
    position: relative;
    top: 60px;
}

.possiton-button-server {
    position: relative;
    top: 200px;
}

/* CSS untuk halaman user.php */

.content-user {
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

.text-size-costume {
    font-weight: 700;
}

/* CSS untuk halaman kuis.php */

.content-kuis {
    margin-top:50px;
}

.box-question {
    width: 40px;
    height: 40px;
    background-color: blue;
    border: 1px solid rgb(0, 0, 102);
    border-radius: 10px;
    margin-top: 10px;
    color: #ffffff;
}